@mixin mobile {
    @media(max-width: 1200px) {
        @content;
    }

}


.head1 {

    font-size: 2rem !important;
    letter-spacing: 0.1em;
    color: #FEFFFF;
    font-weight: bold !important;
    display: inline-block;
    margin-left: -2rem;
    z-index: 3;
    position: relative;
 

    @include mobile {
        font-size: 18px !important;
        letter-spacing: 0.1em;
        margin-left: -1.5rem;
    }
}

.vector {
    width: 3.5rem;
    margin-top: -1.25rem !important;
    position: relative;
    z-index: 2;
    margin-left: -1.5rem;
    vertical-align: middle;


    @include mobile {
        width: 2.5rem;
        margin-left: -1rem;


    }
}
