#container{
    background-color:#F7F8F9;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 0px;
    padding:0px;
    height: 100%;
    width: 100%;
}
#leftPane{
    max-width: 18%;
    background-color: white;
    padding-bottom: 3.5%;
    height: 100%;
    width: 18%;
    /* display: inline; */
    
}

 
#logo{
    max-width: 100%;
    padding: 0%;
    margin: 0%;
    margin-right: 20%;
}
#line1{
    margin-top: 0%;
    margin-left: 6%;
    margin-right: 6%;
    color: #F2F2F2;
    height: 2px;
    margin-bottom: 0%;
}
#viewProfile{
    padding: 0%;
    color: #F39423 !important;
    margin-left: 60%;
    margin-right: 8%;
    font-size:60%;
}
#dropShape{
   
    margin-top:10%; 
    margin-left: 40%;
    background-color: #F39423;
    color: white;
    max-width: 8vh;
    max-height: 20vh;
    padding-left: 2.5vh;
    padding-top: 0.6vh;
    font-size: 2.4vw;
    font-weight: 500;
    /* height: 20%; */
    border-top-left-radius: 6vh;
    border-top-right-radius: 55vh;
    border-bottom-left-radius: 50vh;
    border-bottom-right-radius: 55vh;
}
#name{
    padding-top: 10%;
    text-align: center;
    font-weight: 500;
}
#scoreWritten{
    font-size: 85%;
    color: rgba(79, 79, 79, 0.44);
    margin-left: 5%;
}

#scoreValue{
    float: right;
    margin-right: 5%;
}
.progress{
    margin-top: 5%;
    margin-left: 4%;
    width: 27vh;
    height: 5px !important;
    
}

.bg-custom{
    background-color: #F39423 !important;

}
#optionsToggle{
    display: block;
    text-align: left;
    margin-top: 20%;
    margin-left: 5%;
    font-size: 112%;
    max-width: 92%;
    line-height: 300%;
    padding-top: 10%;
    padding-left: 10%;
    padding-bottom: 90%;
    border-color: rgba(0, 0, 0, 0.1);
    border-style: solid; 
    max-height: 45vh;
    height: 45vh;    

}
#rightPane{
    
    display: inline;   
}
#tasksButton{
    color: #333333;
}
#leaderboardButton{
    color: rgba(189, 189, 189, 0.55);
}
#submitButton{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#submitButton button{
    cursor: pointer;
    color: #F39423;
    font-weight: 500;
    font-size: 2vh;
    margin-left: auto;
    margin-right: auto;
    border: none;
    padding-top: 10px;
    background: none;
}