.taskparent{
    background:#F7F8F9;
    height: 100vh;
    width: 82%;
}

.taskchildrow{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 11.67vh;
}

.taskchild{

    background:#FFFFFF;
    height: 41.57vh;
    width: 30.83%;
    margin-left: 1.875%;
    margin-bottom: 1.875%;
    box-shadow: 1.5px 2px 15px rgba(51, 51, 51, 0.08);
}

.taskchild-body{

    margin:5%;
}
.taskchild-heading{

    font-family:proxima-nova,sans-serif;
    font-size: 28px;
    line-height: 32px;
    color:#5A5A5A;
}

.taskchild-description{

    height: 100%;
    width: 100%;
    /* background: blue; */
    margin-top: 4%;
}