.taskparent{
    background:#F7F8F9;
    height: 100vh;
    width: 166vh;
}

.taskchildrow{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 11.67vh;
}

.taskchild{

    background:#FFFFFF;
    height: 41.57vh;
    width: 40vh;
    margin-left: 1.875%;
    margin-bottom: 1.875%;
    box-shadow: 1.5px 2px 15px rgba(51, 51, 51, 0.08);
}

.taskchild-body{

    margin:5%;
}
.taskchild-heading{

    font-family:proxima-nova,sans-serif;
    font-size: 28px;
    line-height: 32px;
    color:#3A667B;
    font-weight: 500;
    
}

.taskchild-description{

    height: 100%;
    width: 100%;
    /* background: blue; */
    margin-top: 4%;
    opacity: 0.58;
    color:#4F4F4F;
}
.taskchild-fileupload{
    margin-top:4%; 
    border-color: #B2B2B2;
    border-style: dashed;
    border-width: 2px;
    height: 25vh;
    display: grid;
    align-items: center;
    justify-items: center;
    background: url('../svg/Group\ 16.svg');
    background-repeat: no-repeat;
    background-position: center;

}
.taskchildheaderrow{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.taskchild-line{
    width: 200vh;
    height: 0.4vh;
    background-color: #E0E0E0;
    /* position:absolute; */
    margin-top: 4vh;
    width: 90vh;
    margin-left: 1vh;
}
.taskchild-weeklyuploads{
    margin-top: 2vh;
    margin-left: 3vh;
    margin-right: 2vh;
    color:rgba(130, 130, 130, 0.93);
    font-size: 20px;

}
.taskchild-dates{
    margin-top: 2vh;
    font-size: 20px;
    color:rgba(130, 130, 130, 0.93);
    margin-left: 3vh;
}
.taskchild-fileupload input{
    background-color: black;
    height:24vh;
    opacity: 0;
   
}

.Selectfilesvg{
display: flex;
flex-direction: column;
}


.taskName{
    margin-top: -5vh;
}