.esummit-productathon-partners-parent{
    height: 100%;
    padding: 120px 10vw;
}
.esummit-productathon-partners-body{
    display: flex;
    /* width: 80%; */
    justify-content: space-between;
    padding: 20px;
    margin-top: 40px;
}
.esummit-productathon-partners-body-image-parent{
    height: 200px;
    width: 200px;
    background-color: red;
}
.esummit-productathon-partners-body-image-parent img{
    height: 100%;
    width: 100%;
}
.esummit-productathon-partners-parent .head1{
    color: #1A4D66;
}
.esummit-productathon-para{
    color: #FFFFFF;
    font-size: 22.07px;
    letter-spacing: 0.04em !important;
    line-height: 1.4em !important;
    text-align: center !important;
    font-family: "Proxima-nova-regular";
    margin-bottom: 30px !important;
}
.esummit-productathon-cash-para{
    font-size: 19.88px;
    font-family: "ProximaNova-Semibold";
    color: #FFFFFF;
    padding: 0px 10px 30px 10px;
    margin-top: 30px;
}
.esummit-productathon-heading-para{
    font-size: 34.08px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-family: "ProximaNova-Semibold" !important;
}
.idea {
    background: url("../../NewScreens/IdeaStorm/static/1366.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    min-height: 65rem;
    height: auto;
    padding: 100px 10vw;
  }
  .ideastorm .idea p:nth-child(2) {
    padding-bottom: 0;
    font-size: 19.88px;
  }
  .ideastorm .idea p:nth-child(3) {
    font-size: 19.88px;
    font-family: "ProximaNova-Semibold";
    color: #FFFFFF;
  }
  .ideastorm .idea p:first-child {
    font-size: 34.08px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  .ideastorm .idea p:nth-child(4) {
    font-size: 22.07px;
  }