.main_conta {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 65% 35%;
      grid-template-columns: 65% 35%;
  width: 100%;
}

.main_conta .Part1 {
  margin-top: 0.5rem;
  background-color: white;
}

.main_conta .Part1 img {
  width: 50%;
  margin-top: 0.5rem;
}

.main_conta .Part1 .text {
  font-size: 1.35rem;
  text-align: center;
  letter-spacing: 0.015em;
  color: rgba(0, 0, 0, 0.45);
  margin: 0 4rem 0 4em;
  padding: 5px;
  font-family: Montserrat;
}

.main_conta .Part1 button {
  margin-top: 1.45rem;
  height: 2.85rem;
  width: 11.75rem;
  border: 0.125rem solid #3A667B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  line-height: 1.5625rem;
  font-size: 1.25rem;
  text-align: center;
  letter-spacing: 0.09em;
  color: #3A667B;
  cursor: pointer;
}

.main_conta .Part1 span {
  padding: 0;
}

.main_conta .Part1 span img {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
  padding: 0;
}

.main_conta .Part1 span a {
  color: #3A667B;
  text-decoration: none;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.2rem;
}

.main_conta .Part1 .social {
  margin-left: 1rem;
  font-size: 1.5rem;
  margin-top: -3.1rem;
}

.main_conta .Part1 .social i {
  padding: 0.9375rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: white;
  border-radius: 50%;
  margin: 0.6rem;
  background: rgba(26, 77, 102, 0.86);
}

.main_conta .Part1 .social .fa-facebook-f {
  padding: 0.9375rem 1.25rem 0.9375rem 1.25rem;
}

.main_conta .Part1 .social br {
  height: 0rem;
}

.form {
  background: #F39423;
  padding: 0;
  margin: 0;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 89vh;
  min-height: 40rem;
}

.form form {
  background-color: white;
  background: #FFFFFF;
  -webkit-box-shadow: 0rem 1.25rem 2.5rem rgba(0, 0, 0, 0.2);
          box-shadow: 0rem 1.25rem 2.5rem rgba(0, 0, 0, 0.2);
  border-radius: 1.5rem;
  padding: 2rem;
  margin: 0;
}

.form form p {
  font-style: normal;
  font-weight: 600;
  font-family: Montserrat;
  line-height: normal;
  font-size: 1.25rem;
  letter-spacing: 0.06em;
  color: #21526B;
}
.form-errors{
  height: 5px;
  color: red;
  font-size: 12px;
  font-family: Montserrat;

}
.form-success{
  height: 5px;
  color: green;
  font-size: 12px;
  font-family: Montserrat;
}
.form form hr {
  width: 3.5rem;
  height: 0.1875rem;
  background: #F39423;
}

.form form label {
  line-height: normal;
  font-size: 1.25rem;
  letter-spacing: 0.06em;
  color: #9B9B9B;
  display: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}
.form form input {
  display: block;
  border-bottom: 1px solid #9B9B9B;
  border-top: none;
  border-left: none;
  border-right: none;
  line-height: normal;
  font-size: 1.1rem;
  width: 20.25rem;
  font-family: Montserrat;
  outline: #F39423;
  padding: 4px 0px;
}
.form form .form-fields{
  padding: 0.7rem 0px;
  margin-top: 1rem;
}
.form form button {
  background: #F39423;
  border-radius: 4px;
  width: 20.25rem;
  height: 3.3rem;
  font-family: Montserrat;
  font-weight: 600;
  letter-spacing: 1px;
  display: block;
  border: none;
  margin-top: 1.5rem;
  color: white;
  cursor: pointer;
}

.phone {
  margin-right: 2.2rem;
}

.phone_no {
  margin-right: 5.5225rem;
}

.mobile_menu {
  display: none;
}

.social_mobile, .contact_mobile {
  display: none;
}
/*# sourceMappingURL=1100px.css.map */