body{
    overflow: hidden;
}
 
.main_conta{
   
    display: grid;
    grid-template-columns: 65% 35%;
    width:100%;

    .Part1{
        background-color: white;
        height:100vh;
        margin-top:1em;

        img{
            width: 60%;
            margin-top:1.9rem;
 
        }

        .text{
             
            line-height: 2.4375rem;
            font-size: 1.74rem;
            text-align: center;
            letter-spacing: 0.09em;
            color: rgba(0, 0, 0, 0.45);
            text-align: justify;
            margin: 0 8.12rem 0 9rem;

        }

        button{
            margin-top:3.4375rem;
            height: 3.9rem;
            width: 11.75rem;
            border: 0.125rem solid #3A667B;
            box-sizing: border-box;
            background-color: white;
            line-height: 1.5625rem;
            font-size: 1.25rem;
            text-align: center;
            letter-spacing: 0.09em;
            color: #3A667B;
            cursor: pointer;

        }

        span{     
        
            padding: 0; 
            
            img{
               width: 2rem;
               height: 2rem;
               margin: 0;
               padding: 0;
            }
        }

        

        .social{
            margin-left:3.9375rem;
            font-size: 2rem;
            margin-top: -6.25rem;
             i{
                 display: block;
                 padding:0.9375rem;
                 width:max-content;
                 color:white;
                 border-radius:  50%;
                 margin:1rem;
                 background: rgba(26, 77, 102, 0.86);
                 
             }

             .fa-facebook-f{
                 padding: 0.9375rem 1.4rem 0.9375rem 1.4rem;
             }

             br{
                 height :0rem;
             }
        }
       

    }
   

}

 
.form{
    background: #F39423;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 90%; 
    
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
 
  
    form{
        background-color: white;
        background: #FFFFFF;
        box-shadow: 0rem 1.25rem 2.5rem rgba(0, 0, 0, 0.2);
        border-radius: 1.5rem;
        padding:3rem;
        margin: 0;
 

        p{
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            font-size: 1.5rem;
            letter-spacing: 0.06em;
           
            color: #21526B;
 
        }

        hr{
            width: 3.5rem;
            height: 0.1875rem;
            background: #F39423;
        }

        label{
            line-height: normal;
            font-size: 1.25rem;
            letter-spacing: 0.06em;
            color: #9B9B9B;
            display: block;
            margin-top: 3rem;
    
        }

        input{
           
            border-bottom:  1px solid #4F4F4F;
            border-top:none;
            border-left:none;
            border-right:none;
            width: 24.25rem;
 
               
            
        }
        

        
        button{
            background: #F39423;
            border-radius: 4px;
            width: 24.25rem;
            height: 4rem;
            display: block;
            border:none;
            margin-top: 3rem;
            color:white;
            cursor: pointer;

 
        
        }
      
    }
        
    
}

.phone{
    margin-right: 2.2rem;
}

.phone_no{
    margin-right :5.5225rem;
}



.mobile_menu{
    display:none;
}