@mixin mobile {
    @media(max-width: 1000px) {
        @content;
    }

}

@mixin fhd {
    @media (min-width:1000px) and (max-width: 1600px) {
        @content;
    }

}

.land_screen1 {
    height: 90vh;
    width: 100vw;
    background: #0D1313;
    padding: 5rem;
    display: grid;
    align-items: end;
    justify-items: center;

    @include mobile {
        height: 80vh;
    }

    button {
        border: 2.5px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 2px;
        background: none;
        line-height: 1.5625rem;
        font-size: 1.25rem;
        text-align: center;
        letter-spacing: 0.09em;
        padding: 24px;
        color: #FFFFFF;

        @include mobile {
            font-size: 12px;
            padding: 16px;
        }

        @include fhd{
            font-size: 1rem;
            
        }

    }

}

.land_screen2 {
    background: url("../static/1.jpg");
    padding: 152px 13.6vw;
 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  

    @include mobile {

        padding: 64px 32px 32px 32px;
        padding-bottom: 36px;
    }


    .p {
        line-height: 2.5625rem;
        font-size: 1.5rem;
        letter-spacing: 0.1em;
        margin:  2.75rem 0;
        
        color: #FEFFFF;


        @include mobile {
            line-height: 18px;
            font-size: 14px;
            letter-spacing: 0.1em;

        }

        @include fhd{
            font-size: 1.125rem;
        }
    }
}

.land_events,
.land_speakers,
.land_sponsors {

    background: #1A4D66;
    ;

    .text {
        line-height: 2.5625rem;
        font-size: 1.5rem;
        letter-spacing: 0.1em;
        padding: 2.75rem 0 2.75rem 0;
        color: #D8D8D8;

        @include mobile {
            line-height: 18px;
            font-size: 14px;
            letter-spacing: 0.1em;
            color: #D8D8D8;

        }

        @include fhd{
                font-size: 1.25rem;
        }

    }

    .all_events_button {

        border: 0.125rem solid white;
        background: none;
        padding: 20px;
        line-height: 1.25rem;
        font-size: 1rem;
        text-align: center;
        letter-spacing: 0.09em;
        cursor: pointer;
         
        color: #FFFFFF;

        @include mobile {
            margin-bottom: 0;
            line-height: 15px;
            font-size: 12px;
            text-align: center;
            letter-spacing: 0.09em;
            padding: 1rem;
        }

         
    }

    .slick-list {
        margin: 1.25rem;
    }




    .speaker_slidder {
        padding-top: 7.375rem;
        padding-bottom: 6.75rem;

        @include mobile {
            display: none;
        }
    }

    .img_holder {
        height: 14.75rem !important;
        width: 14.75rem;
        background: #242626;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;


    }

    .name {
        line-height: 2.5625rem;
        font-size: 1.5rem;
        letter-spacing: 0.1em;



        color: #138AD6;

        @include fhd{
            font-size: 1.125rem
        }

        @include mobile {
            line-height: 35px;
            font-size: 24px;
            letter-spacing: 0.1em;

            color: #138AD6;

        }

    }

    .designation {
        line-height: 1.8125rem;
        font-size: 1.25rem;
        letter-spacing: 0.1em;

        color: #FFFFFF;

        @include mobile {
            line-height: 24px;
            font-size: 16px;
            letter-spacing: 0.1em;

            color: #FFFFFF;
            padding-bottom: 32px;
        }

        @include mobile{
            font-size: 1.125rem;
        }
    }

}


.speaker_mobile{
    display: none;

    @include mobile{
        display: block;
    }
}
.land_speakers,
.land_sponsors {
    padding: 152px 13.6vw;
    background: #0E425B;

    @include mobile {
        padding: 32px;
    }

    @include fhd{
        padding: 80px 13.6vw 0 13.6vw ;
    }
}

.land_sponsors{
    padding-bottom: 110px;

    @include fhd{
        padding-bottom: 80px;
    }
}
.land_events {
    padding: 8.75rem 13.6vw 110px 13.6vw;

    @include mobile {
        padding: 36px;
    }

    .land_events_array2 {
        padding: 0 0 140px 0;
        display: grid;
        grid-template-columns: 30% 30% 30%;

        @media (min-width: 1000px) and (max-width: 1300px) {

            grid-template-columns: 50% 50%;
        }

        @include mobile {
            display: block;
        }

        .events_production {
            background: url("../static/6.png");
            padding: 60px 0;
            height: 456px;
            display: grid;
            border : 2px solid white;

            @include mobile {
                height: 300px;
            }

            p {
                text-align: center;
                color: #FFFFFF;

            }

            span {
                align-self: start;
            }

            .t1 {
                font-size: 1.75rem;
                letter-spacing: 0.1em;
                font-weight: bold;

                @include mobile {
                    line-height: normal;
                    font-size: 16px;
                    letter-spacing: 0.1em;
                }

                @include mobile{
                    font-size: 1.5rem;
                }

            }

            .t2 {

                font-size: 1.5rem;
                letter-spacing: 0.1em;

                @include mobile {
                    line-height: 18px;
                    font-size: 12px;
                    text-align: center;
                    letter-spacing: 0.1em;

                    color: #FFFFFF;

                }

                @include mobile{
                    font-size: 1.25rem;
                }


            }

            .t3 {

                font-size: 1.5rem;
                text-align: center;
                letter-spacing: 0.09em;
                align-self: end;

                @include mobile {
                    line-height: 15px;
                    font-size: 12px;
                    text-align: center;
                    letter-spacing: 0.09em;

                    color: #FFFFFF;
                }

                @include mobile{
                    font-size: 1.25rem;
                }

            }
        }
    }
}



.land_events_array {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background: #1A4D66;

    padding: 0 8.5vw;

    @include mobile {
        grid-template-columns: 50% 50%;
    }

    .conclave {
        background: url("../static/2.png");
    }

    .workshop {
        background: url("../static/3.png");
    }

    .leadership {
        background: url("../static/4.png");
    }

    .competition {
        background: url("../static/5.png");
    }



    .conclave,
    .leadership,
    .workshop,
    .competition {

        padding: 0 50px;
        color: white;
        padding-bottom: 200px;
        border : 2px solid white;

        @include mobile {
            padding-top: 64px;
            padding-bottom: 64px;
        }

        @include fhd{
            padding-bottom: 100px;
        }

        p:first-child {
            font-size: 2rem;
            letter-spacing: 0.1em;
            font-weight: bold;
            color: #FFFFFF;
            margin-top: 12.5rem;

            @include mobile {

                font-size: 16px;
                text-align: center;
                letter-spacing: 0.1em;

                color: #FFFFFF;
                margin-top: 16px;

            }

            @include fhd{
                font-size: 1.75rem;
                margin-top:6rem;
            }
        }

        p:nth-child(2) {
            line-height: 41px;
            font-size: 1.375rem;
            letter-spacing: 0.1em;
            text-align: left;
            color: #FFFFFF;
            margin-top: 6.125rem;

            @include mobile {
                line-height: 18px;
                font-size: 12px;
                text-align: center;
                letter-spacing: 0.1em;
                margin-top: 16px;
                color: #FFFFFF;
            }

            @include fhd{
                font-size: 1.25rem;
                margin-top:4rem;
            }

        }

        p:nth-child(3) {
            line-height: 30px;
            font-size: 1.5rem;
            text-align: center;
            letter-spacing: 0.09em;
            font-weight: 800 !important;
            color: #FFFFFF;

            @include mobile {
                line-height: 15px;
                font-size: 12px;
                text-align: center;
                letter-spacing: 0.09em;
                margin-top: 16px;
                color: #FFFFFF;

            }

            @include fhd{
                font-size: 1.25rem;
            }

        }

        i {
            font-size: 2rem;
            margin-top: 15rem;
            margin-bottom: 1.875rem;

            @include mobile {
                margin-top: 5rem;
                font-size: 1rem;
            }

            @include fhd{
                font-size: 1.75rem;
                margin-top: 8rem;
            }
        }
    }
}



 

.land_testinomial {
    background: #F39423;
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 152px 13.6vw;

    @include mobile {
        padding: 128px 0;

    }

    div {
        background: #242626;
        border-radius: 16px;
        color: white;
        padding: 0 110px 110px 110px;
        display: grid;
        justify-items: center;
        align-items: center;

        @include mobile {
            padding: 0 36px 36px 36px;
            border-radius: 0;
        }

        img {
            border-radius: 50%;
            margin-top: -10%;

            @include mobile {
                margin-top: -20%;
            }
        }

        p {
            line-height: 2.75rem;
            font-size: 1.75rem;
            text-align: center;
            letter-spacing: 0.1em;
            margin-top: 6rem;
            color: #FFFFFF;



            @include mobile {

                line-height: 23px;
                font-size: 18px;
                text-align: center;
                letter-spacing: 0.1em;
                margin-top: 48px;
            }

            @include fhd{
                font-size: 1.5rem;
            }

        }

        .name {
            line-height: 47px;
            font-size: 2rem;
            letter-spacing: 0.1em;
            color: #FFFFFF;

            @include mobile {
                line-height: 26px;
                font-size: 18px;
                letter-spacing: 0.1em;
            }

            @include fhd{
                font-size: 1.75rem;
            }
        }

        .designation {
            line-height: 2.1875rem;
            font-size: 1.5rem;
            letter-spacing: 0.1em;
            margin-top: 11px;
            color: #E5E5E5;

            @include mobile {
                line-height: 21px;
                font-size: 14px;
                letter-spacing: 0.1em;
                color: #E5E5E5;
            }

            @include fhd{
                font-size: 1.125rem;
            }

        }
    }
}



.land_faq {

    padding: 152px 13.6vw;

    @include mobile {
        padding: 32px;
    }

    .head1 {
        color: #1A4D66 !important;
        font-family: "ProximaNova-Bold";
    }

    @include fhd{
        padding: 100px 13.6vw;
    }

    p {
        padding-top: 2.75rem;
        line-height: 2.5625rem;
        font-size: 1.75rem;
        letter-spacing: 0.1em;
        margin-bottom: 4.5rem;
        color: #000000;
        font-family: "Proxima-nova-regular";

        @include mobile {
            line-height: 18px;
            font-size: 14px;
            letter-spacing: 0.1em;
            padding-top: 10px;
            margin-bottom: 20px;
        }

        @include fhd{
            font-size: 1.5rem;
            padding-top: 2rem;
            margin-bottom: 3.5rem;
        }
    }




    .view_all {
        line-height: 1.25rem;
        font-size: 1rem;
        text-align: center;
        letter-spacing: 0.09em;
        padding: 20px;
        color: #F39423;
        border: 3px solid #F39423;
        box-sizing: border-box;
        border-radius: 2px;
        background: none;
        margin-top: 80px;
        cursor: pointer;

        

      
    }
}

 

 