@mixin desktop {
    @media(max-width: 960px)
    {
        @content;
    }
    
}

@mixin hd {
    @media(max-height:900px)
    {
        @content;
    }
    
}



.login_main{

    display: grid;
    grid-template-columns: 60% 40%;

    @include desktop{
     
        display: block;
    }




    .login_text{

  
  


        span{
            display:block;
        }

        span:first-child{

            margin-top:10vh;
            line-height: normal;
            font-size: 3rem;
            text-align: center;
            letter-spacing: 0.06em;
            color: #1A4D66;
       


            @include desktop{
            
              margin-top:1.875rem;
              font-size: 1.5rem;
            }

          
        }


        span:nth-child(2){
            margin: 6vh 4rem 6vh 4rem ;
            line-height: 2.3125rem;
            font-size: 1.75rem;
            text-align: justify;
            letter-spacing: 0.06em;
            color: #1A4D66;

            @include hd{
                font-size: 1.5rem;
                line-height: normal;
            }

            @include desktop{
     
                margin:2rem 1.375rem;
                font-size: 0.875rem;
                line-height: 1.1875rem;
            }

              
        }


    


    }

    .login_form{

        background: #1A4D66;
        padding:36px 100px ;
        height: 89vh;

        min-height: 40rem;

        @include desktop{
            
            margin-top:60px;
            padding:36px;
          }


    a , a:hover{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 1.25rem;
        letter-spacing: 0.06em;
        color: #FFFFFF;

        @include desktop{
            font-size: 12px;
            letter-spacing: 0.06em;
        }
   


    }
    
    button{
        background: #F39423;
        border-radius:  15rem;
        border: none;
        line-height: normal;
        font-size: 28px;
        text-align: center;
        letter-spacing: 0.06em;
        display: block;
        padding: 14px 60px;
        margin-top: 80px;
        color: #FFFFFF;

        
    }
      


        span{
            float:right;
            color:white;
            
            @include desktop{
                margin:auto;
            }
        }

        span:first-child{
            
            padding: 16px 20px;
            background: #F39423;
            border-top-right-radius: 3rem;
            border-bottom-right-radius: 3rem;
        }

        span:nth-child(2){
            background: #265C77;
            padding: 16px 20px;

            border-top-left-radius: 3rem;
            border-bottom-left-radius: 3rem;
        }

      
        form{
           margin:100px 0 0 0 ;


           label{

            display: block;
            line-height: normal;
            font-size: 1.75rem;
            letter-spacing: 0.06em;
            color: #FFFFFF;
            margin-top:56px;

            @include desktop{
                font-size: 16px;
                letter-spacing: 0.06em;
            }
            

        }

        input{
            border-bottom: 1px solid #FFFFFF;
            border-top:none;
            border-left:none;
            border-right:none;
            background: none;
            width:100%;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            font-size: 1.25rem;
            letter-spacing: 0.06em;
            height: 2rem;
            color: #FFFFFF;



        }

    

 

        }

    
        
    }


}