body ,html{
    padding: 0;
    margin:0;

    font-family: proxima-nova, sans-serif;
}

a{
    font-family: proxima-nova, sans-serif !important;   
}

.active{
    color:#F39423  !important;
}

body , html ,p ,div, button , a , span  {
    font-family: proxima-nova, sans-serif;
}