 .header{
 
    background: #FFFFFF;
   
    box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.08);
    padding:  1.5625rem 0 1.5625rem 0 ;

    align-items: center;
    display: flex;
    justify-content: space-between;


    .ecell_logo{
  
        margin-left:4.125rem;

        img{
           height:3.75rem;
        }

    }

    .esummit_logo{
        
        
        img{
        height:4.5rem;    
        }
 
       
}
    
    .links{
        float:right;
        a{
            line-height: normal;
            font-size: 1.5rem;
            letter-spacing: 0.06em;
            margin-right: 3vw;
            color: rgba(51, 51, 51, 0.8);
            text-decoration: none;
 
        }


    }
 
}

 