.caheader{

     
 
    padding: 0 1rem;
    .esummit_logo{
        img{
            height:4rem;
        }
    }
    i{
        float:right;
        font-size: 2rem;
        cursor: pointer;
    }

    .mob_menu{
        display:none;
    }
    #close_button{
        display: none;
    }
}

